#populationButton {
    position: absolute;
    top: 170px;
    z-index: 1000;
    left: 10px;
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    
}

#exchangeRateButton {
    position: absolute;
    top: 245px;
    z-index: 1000;
    left: 10px;
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
}

#weatherButton {
    position: absolute;
    top: 300px;
    z-index: 1000;
    left: 10px;
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
}


#countrySelect {
    width: 15%;
   position:relative;
   align-items: center;
   border-radius: 15px;
   z-index: 1000;

}
